pandas>=2.2.2
numpy>=1.26.4
yfinance>=0.2.40
matplotlib>=3.9.0
seaborn>=0.13.2
plotly>=5.22.0
scikit-learn>=1.5.1
statsmodels>=0.14.2
pmdarima>=2.0.4
scipy>=1.13.1
ipywidgets>=8.1.5
notebook>=7.2.1
jupyterlab>=4.2.4
tqdm>=4.66.4
PyPortfolioOpt>=1.5.5
tensorflow-cpu; platform_system == "Windows"
tensorflow; platform_system != "Windows"
